.header-container {
    display: flex;
    align-items: center;
  }
  
  .header-image {
    margin-right: 1rem;
    height: 100px;
  }

  .header-text {
    white-space: nowrap;
    width: 100%;
  }

  .red-word {
    color: red;
  }
  
  .blue-word {
    color: blue;
  }